body{
    margin: 0px;
}
#header{
    background: royalblue;
    height: 100px;
    width: 100%;
}
#main{
    background: red;
    height: 500px;
    width: 70%;
    float: left;
}
#sidebar{

    background: aqua;
    height: 500px;
    width: 30%;
    float: right;
}
#footer{
    background: coral;
    height: 200px;
    width: 100%;
    clear: both;
}